body{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 1024px;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
a{
    font-family: 'PT Serif', 'Times New Roman', serif;
    font-size: 14px;
    text-decoration: none;
    color: #6d6a6a;
}
header{
    position: relative;
    left: 10px;
    bottom: 50px;
}
.title{
    font-family: 'PT Serif', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.person{
    position: relative;
    top: 20px;
    width: 200px;
    height: 150px;
}
main{
    position: relative;
    left: 40px;
    top: 5px;
}
main h2{
    margin: 20px;
    font-family: 'PT Serif', 'Times New Roman', serif;
    font-weight: 400;
    font-size: 28px;
}
main p{
    margin:10px;
    font-family: 'PT Serif', 'Times New Roman', serif;
    font-size: 14px;
    line-height: 1.4;
}
.line{
    width: 540px;
    height: 20px;
    margin: 20px;
    border-top: 1px solid #ebebeb;
}
.summary .line{
    position: absolute;
    top: 45px;
}
.skills .line{
    position: absolute;
    top: 198px;
}
.experience .line{
    position: absolute;
    top: 331px;
}
.education .line{
    position: absolute;
    top: 445px;
}
.add-inform .line{
    position: absolute;
    top: 581px;
}

footer{
    position: relative;
    left: 20px;
}
 ol, ul footer{
    list-style: none;
}
footer li{
    display: inline;
    text-decoration: none;
    list-style: none;
}
.items{
    margin: 10px;
    font-family: 'PT Serif', 'Times New Roman', serif;
    font-size: 14px;
    line-height: 1.4;
}